/*Topic details*/
details.topic {
    --rotate: 0deg;
}

details.topic[open] {
    --rotate: -90deg;
}

details.topic>summary {
    padding: 4px;
    border: solid #BA1827;
    border-width: 0 0 1px 1px;

    /* border-width: 1px 0 0 1px; */
}

details.topic[open]>summary {
    border-width: 1px 0 0 1px;
}

details>summary {
    display: flex;
    align-items: center;
}

details.topic>summary::marker,
details.topic>summary::before {
    display: none;
}

details.topic>summary>.marker {
    aspect-ratio: 1/1;

    display: inline-flex;
    background-image: url(../midia/icons/expand.svg);
    background-repeat: no-repeat;
    background-position: center;
}

details.topic>summary>.marker {
    height: 30px;
    width: 30px;
    transform: rotate(var(--rotate));
}

/*Image details*/
details.image-container {
    --marker: url(../midia/icons/see.svg);
}

details.image-container[open] {
    --marker: url(../midia/icons/no-see.svg);
}

details.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    --sufix: "Mostrar";
    --marker: url(../midia/icons/see.svg);
}

details.image-container[open] {
    --sufix: "Ocultar";
    --marker: url(../midia/icons/no-see.svg);
}

details.image-container>summary {
    font-size: 16px;
    color: #1f6feb;
}

details.image-container>summary::before {
    content: var(--marker) " " var(--sufix);
    margin-right: 5px;
    color: #1f6feb;
}

details.image-container>img {
    max-width: 100%;
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
}